DATABASE_URL="file:./dev.db"
AUTH_SECRET="your-jwt-auth-secret-minimum-32-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# Google OAuth 2.0 (Students)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# LinkedIn OAuth 2.0 (Students)
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""

# GitHub OAuth 2.0 (Students)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
